/*
Theme Name: Abgefratzt
Theme URI: https://gitlab.com/therufuser/abgefratzt-wordpress-theme/
Author: Freies Radio Fratz
Author URI: https://www.radio-fratz.de/
Description: Jetzt wird abgefratzt!!1!11!
Version: 0.2
License: !UNDECIDED!
//License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: something, radio, free, podcast, somethingelse, fratzn, bratzn, eiscreme, webradio
Text Domain: abgefratzt

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@font-face {
  font-family: 'Overpass Mono';
  font-weight: 300;
  src: url(fonts/Overpass_Mono/OverpassMono-Light.ttf);
}

@font-face {
  font-family: 'Overpass Mono';
  font-weight: 400;
  src: url(fonts/Overpass_Mono/OverpassMono-Regular.ttf);
}

@font-face {
  font-family: 'Overpass Mono';
  font-weight: 600;
  src: url(fonts/Overpass_Mono/OverpassMono-SemiBold.ttf);
}

@font-face {
  font-family: 'Overpass Mono';
  font-weight: 700;
  src: url(fonts/Overpass_Mono/OverpassMono-Bold.ttf);
}

@font-face {
  font-family: 'Amatic SC';
  font-weight: 400;
  src: url(fonts/Amatic_SC/AmaticSC-Regular.ttf);
}

@font-face {
  font-family: 'Amatic SC';
  font-weight: 700;
  src: url(fonts/Amatic_SC/AmaticSC-Bold.ttf);
}

body {
  font-size: 10pt;
  background-color: #f4e8b6;
  padding: 0;
  margin: 0;
}

@media(min-width: 600px) {
  body {
    font-size: 12pt;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', bold;
    color: #dd3a42;
}

h1 {
  font-size: 500%;
}

h2 {
  font-size: 400%;
}

h2.centered {
  text-align: center;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  font-size: 300%;
  margin-top: 1.5ex;
  margin-bottom: 1ex;
}

h4 {
  margin-bottom: 1ex;
  font-size: 200%;
}

@media(min-width: 480px) {
  h4 {
    font-size: 300%;
  }
}

p, dl, figcaption {
  font-family: 'Overpass Mono', monospace;
  font-weight: lighter;
  line-height: 1.5;
  color: #42514c;
}

figcaption {
  font-size: 80%;
}

.header {
  width: 100%;
  ove;rflow: hidden;

  display: grid;
  grid-template-rows: 1fr 6fr;
}

.header .widgets {
  font-family: 'Overpass Mono';
  color: white;
  background: rgba(40, 140, 160, 0.3);

  grid-row: 1/2;
  grid-column: 1;
  z-index: 1;

  width: 100%;
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: row;
}

.header .widgets .widget {
  padding: 0 1em;
  border-right: solid rgba(255, 255, 255, 0.4) 2px;
}

.header .widgets a {
  text-decoration: none;
}

.header .widgets .dropdown-styled ul {
  list-style-type: none;
  padding-left: 0.5em;
  margin-left: 1em;
}

.header .widgets .dropdown-styled ul ul {
  display: none;
}

.header .widgets .dropdown-styled ul ul li {
  border-bottom: solid white 1px;
  padding: 0.5ex 0.2em;
}

.header .widgets .dropdown-styled:hover ul ul {
  display: block;
  position: absolute;
  background: rgba(40, 140, 160, 0.3);
}

.header .widgets a {
  color: white;
}

.header a {
  grid-row: 1/3;
  grid-column: 1;
}

.header > a > img {
  height: 16ex;
}

@media(min-width: 360px) {
  .header > a > img {
    height: 20ex;
  }
}

@media(min-width: 900px) {
  .header > a > img {
    width: 100%;
    height: auto;
  }
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  color: #dddddd;
}

.navigation a:visited {
  color: #dddddd;
}

.navigation ul {
  font-family: 'Amatic SC', bold;
  font-size: 240%;
  color: white;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

@media(min-width: 400px) {
  .navigation {
    position: sticky;
    top: 4ex;
    z-index: 10;
  }

  .navigation ul {
    font-size: 190%;
    flex-direction: row;
  }
}

@media(min-width: 460px) {
  .navigation ul {
    font-size: 210%;
  }
}

@media(min-width: 550px) {
  .navigation ul {
    font-size: 240%;
  }
}

@media(min-width: 1000px) {
  .navigation ul {
    font-size: 280%;
  }
}

@media(min-width: 1300px) {
  .navigation ul {
    font-size: 310%;
  }
}

.navigation ul li {
  display: block;
  padding: 0.2ex 0.5ex;
  margin-bottom: 0.5ex;
  background-image: url('images/podacst_back_yellow.png');
  background-size: 100% 100%;
}

@media(min-width: 400px) {
  .navigation ul li {
    margin-right: 0.5em;
    margin-bottom: 0;
  }
}

.navigation ul li:nth-child(2n + 0) {
  background-image: url('images/podacst_back_blue.png');
}

.mainpage .podcastlist {
  display: block;
}

.mainpage .podcastlist h4 {
  text-align: center;
  margin-top: 1ex;
  margin-bottom: 0;
}

.mainpage .podcastshort {
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'image header'
    'description description';
}

@media(min-width: 800px) {
  .mainpage {
    margin: 0 2em;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .mainpage .article {
    grid-column: 1/2;
    g;rid-row: 1;
  }

  .mainpage .podcastlist {
    grid-column: 2/3;
    grid-row: 1;
  }
}

.podcastlist {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
}

@media(min-width: 400px) {
 .podcastlist {
     margin: 0 1em;
 }
}

@media(min-width: 720px) {
  .podcastlist {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1000px) {
  .podcastlist {
    max-width: 55em;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
  }

  .podcastlist > .podcastshort:nth-child(2n+0) {
    align-self: flex-end;
  }
}

.podcastshort {
  background-image: url('images/podacst_back_small_blue.png');
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  max-width: 20em;
  padding: 3ex 2em 0 1em;
  margin: 2ex 2em;

  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'image'
    'header'
    'description';
  grid-gap: 1ex;
}

.podcastshort p {
  color: #dddddd;
}

.podcastshort:nth-child(2n+0) {
  background-image: url('images/podacst_back_small_yellow.png');
  padding: 2ex 1em 0 1.5em;
}

.podcastshort:nth-child(2n+0) p {
  color: #42514c;
}

@media(min-width: 340px) {
  .podcastshort {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'image header'
      'description description';
  }
}

@media(min-width: 1000px) {
  .podcastshort {
    max-width: 40em;
    background-image: url('images/podacst_back_blue.png');
    padding: 1ex 2em 0 1.5em;
    grid-template-rows: 20ex;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: 'image header description';
  }

  .podcastshort:nth-child(2n+0) {
    background-image: url('images/podacst_back_yellow.png');
    padding: 1ex 1em 0 2em;
  }

  .podcastheader h3 {
    font-size: 260%;
  }

  .podcastshort .description {
    max-height: 100%;
    overflow: hidden;

    padding: 1ex 0 1ex 0;
  }

  .podcastshort .description p {
    margin: 0;
  }
}

.podcastshort > a {
  position: absolute;
  right: -2em;
  bottom: -3ex;
  text-align: right;
}

@media(min-width: 1000px) {
  .podcastshort > a {
    right: 0;
    bottom: -3ex;
  }

  .podcastshort:nth-child(2n+0) > a {
      right: -2.5em;
      bottom: -2ex;
  }
}

.podcastshort > img {
  width: 100%;
  height: auto;
  grid-area: image;
  align-self: center;
}

.podcastshort .podcastheader {
  margin-left: 1em;
  grid-area: header;
}

.podcastshort .description {
  grid-area: description;
}

.podcastheader h3 {
  line-height: 1;
  margin: 0;
}

.podcastheader p, .podcastinfolarge p, .articleheaderlarge p {
  font-weight: bold;
  margin-top: 0;
  margin-left: 1em;
}

dl > dt {
  font-weight: bold;
}

dl > dt::after {
  content: ':'
}

.podcastlong {
  max-width: 47em;
  margin: 0 2em;
}

.podcastlong h2 {
  margin-top: 1ex;
  margin-bottom: 0;
}

@media(min-width: 800px) {
  .podcastlong {
    margin: 0 auto;
  }
}

.podcastimage {
  background-image: url('images/podacst_back_small_yellow.png');
  background-size: 100% 100%;
  background-position: center;

  max-width: 15em;
  padding: 1.5ex 1em 2ex 1.1em;

  display: flex;
  flex-direction: column;
}

@media(min-width: 460px) {
  .podcastimage {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5ex;
  }
}

.podcastimage img {
  width: 100%;
  margin: 0 auto;
}

a.listenbutton {
  display: inline-block;
  padding: 0.5ex;

  font-family: 'Amatic SC';
  font-size: 200%;
  font-weight: bold;
  text-decoration: none;
  color: #dd3a42;

  background-image: url('images/podacst_back_yellow.png');
  background-size: 100% 100%;
}

a.listenbutton::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('images/hör_zu_bau.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.podcastlong dl {
  display: inline-block;
  margin-left: 1em;
}

.article {
  padding: 2ex 1.5em;
  margin: 6ex auto;
  max-width: 47em;

  border: none;
}

@media(min-width: 480px) {
  .article {
    background-image: url('images/textblitz_oben_links.png'), url('images/textblitz_unten_rechts.png');
    background-position: top left, bottom right;
    background-size: 8em;
    background-repeat: no-repeat;
    padding: 4ex 4em;
    margin: 6ex 2em;
  }
}

.articlebody p {
  margin: 0ex;
  text-indent: 2em;
}

.articlebody ul {
  font-family: 'Overpass Mono', monospace;
  font-weight: lighter;
  line-height: 1.5;
  color: #42514c;
}

.articlebody p:first-child,
.articlebody h2 + p,
.articlebody h3 + p,
.articlebody h4 + p {
  text-indent: 0;
}

@media(min-width: 480px) {
  .articlebody p {
    text-indent: 3em;
  }
}

form {
  border: solid #d4c896 2px;
  background-color: #e4d8a6;
}

form.participation {
  background-image: url('images/briefmarke.png');
  background-size: 16%;
  background-position-x: 97%;
  background-position-y: 7%;
  background-repeat: no-repeat;

  padding: 1em;
  margin: 0 2em;
  max-width: 37em;

  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

@media(min-width: 640px) {
  form.participation {
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr;
  }

  form.participation > textarea {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  form.participation > div {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

textarea, input, select {
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 240%;

  background: none;
  border: none;
}

form.participation select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form.participation select option::after {
  content: 'v';
}

form.participation > *:first-child {
  border-right: solid red 1px;
}

form.participation > textarea {
  color: #00787d;
  padding-right: 1em;
  text-align: center;
  transform: rotate(-2deg);
}

form.participation input, form.participation select {
  color: #dd3a42;
}

form.participation {
  position: relative;
}

form.participation input, form.participation select {
  text-decoration: underline;
}

form.participation input[type=submit] {
  content: '';
  display: block;
  font-size: 0;
  width: 4rem;
  height: 4rem;
  background-image: url('images/pfeil_gelb_rechts.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}

.milestone {
  max-width: 47em;
  margin: 0 auto;
}

.milestone h2 {
  margin-top: 1ex;
  margin-bottom: 0;
}

.imagegallery {
  background-image: url('images/podacst_back_yellow.png');
  background-size: 100% 100%;

  padding: 1ex 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.imagegallery > div {
  width: 12em;
}

.imagegallery > div > img {
  width: 10em;
  height: auto;
  margin: 0 auto;

  box-shadow: 0 0 4px black;
}

.imagegallery > div:hover > img {
  width: 30em;
  position: fixed;
  top: 5ex;
  left: calc(50% - 15em);
}

.footer {
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 180%;
  background-color: #00787d;

  margin-top: 4ex;

  display: grid;
  grid-template-areas: "widgets widgets widgets"
                       "left center right";
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto 1fr;
}

.footer a, .footer p {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: grey;
}

.footer > .widgets {
  grid-area: widgets;

  display: flex;
}

.footer > .widgets > .widget {
  flex: 1 1;

  border: dashed white 1px;
}

.footer > .widgets > .widget ul {
  list-style-type: none;
}

.footer > .widgets > .widget ul li {
  margin-left: 1em;
  border-left: solid white 0.1em;
  padding-left: 0.5em;
}

.footer > .menu > div > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer > .menu ul li {
  padding: 0 0.5ex;
  margin: 0.5ex 0;
}

.footer > .menu ul li:nth-last-child(1n + 2) {
  border-right: solid white 1.5px;
}

.footer > .menu-left {
  text-align: left;
}

.footer > .menu-left > div > ul {
  justify-content: flex-start;
}

.footer > .imprint {
  text-align: center;
  align-self: center;
}

.footer > .menu-right {
  text-align: right;
}

.footer > .menu-right > div > ul {
  justify-content: flex-end;
}
